@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background: #3e6fcf;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC;
  font-size: 22px;
}

h1 {
  margin-bottom: 1em;
  font-size: 2.7rem;
  font-weight: medium;
  color: white;
}

h2 {
  margin: 2em 0 0.6em 0;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

p.description {
  color: #d9e6ff;
}

p.note {
  opacity: 40%;
}

a {
  box-shadow: inset 0 -8px 0 #FFFFFF33;
  -webkit-transition: box-shadow 0.15s linear;
  transition: box-shadow 0.15s linear;
  padding: 0 2px;
}

a:hover {
  box-shadow: inset 0 -30px 0 #FFFFFF33;
  -webkit-transition: box-shadow 0.15s linear;
  transition: box-shadow 0.15s linear;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.27rem;
  }

  h2 {
    font-size: 1.45rem;
    text-align: center;
  }

  p {
    font-size: 0.8rem;
  }
}
