---
interface Props {
  version: string;
  tag: string;
  updated?: string;
  channel?: string;
}

const { version, tag, updated, channel } = Astro.props;
---

{
  (
    <div id={tag} class="flex flex-col space-y-4">
      <div class="flex flex-row space-x-2 mb-4">
        <h2 class=" text-gray-700 font-bold m-0">{version}</h2>
        {channel && <span class="text-sm text-gray-400">{channel}</span>}
      </div>

      {updated && (
        <p class="text-gray-400 text-left mb-4">
          {new Date(updated).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
        </p>
      )}
      <slot />

      <a
        class="text-sky-500"
        href={`https://github.com/intitni/cursor-crane-release/releases/tag/${tag}`}
      >
        Download
      </a>
    </div>
  )
}
