---
interface Props {
  version: string;
  tag: string;
  updated?: string;
  channel?: string;
}

const { version, tag, updated, channel } = Astro.props;
---

{
  (
    <div id={tag} class="flex flex-col">
      <div class="flex flex-row space-x-2">
        <h2 class="text-(--sl-color-white) font-bold m-0!">{version}</h2>
        {channel && <span class="text-sm text-blue-100/80">{channel}</span>}
      </div>

      {updated && (
        <span class="m-0 text-blue-100/75 text-left">
          {new Date(updated).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
        </span>
      )}

      <div class="pt-4">
        <slot />
      </div>
    </div>
  )
}
