---
const slotContent = await Astro.slots.render('default');
const isEmpty = slotContent.trim().length === 0;
---

{
  !isEmpty && (
    <div class="content-panel">
      <div class="sl-container" set:html={slotContent} />
    </div>
  )
}

<style>
  @layer starlight.core {
    .content-panel {
      padding: 1.5rem var(--sl-content-pad-x);
    }

    .content-panel + .content-panel {
      border-top: 1px solid var(--sl-color-hairline);
    }

    .sl-container {
      max-width: var(--sl-content-width);
    }

    .sl-container > :global(* + *) {
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 800px) {
      .sl-container {
        margin-inline: var(--sl-content-margin-inline, auto);
      }
    }
  }
</style>
