---
interface Props {
  previousVersion: string;
  tag: string;
}

const { previousVersion, tag } = Astro.props;
const { slug } = Astro.params;
const isVisible = slug === tag
---

{
  isVisible && (
    <div>
      <div class="flex flex-row space-x-2 mb-4">
        <h3 class=" text-gray-700 font-bold m-0">{previousVersion}</h3>
      </div>
      <slot />
    </div>
  )
}
