---
const hideTitle = Astro.locals.starlightRoute.entry.data.hideTitle ?? false;
const title = Astro.locals.starlightRoute.entry.data.title;
---

{
  hideTitle ? (
    <style>
      .content-panel {
        padding-top: 0 !important;
        border-top: none !important;
      }
      .sl-container {
        padding-top: 0 !important;
      }
      .sl-container::after {
        border-bottom: none !important;
      }
    </style>
  ) : (
    <style>
      .content-panel {
        padding-top: 0 !important;
        border-top: none !important;
      }
      .sl-container {
        padding-top: 0 !important;
      }
      .sl-container::after {
        border-bottom: none !important;
      }
    </style>
    <h1 id="_top" class="page-title-like-templates">{title}</h1>
  )
}

<style>
  @layer starlight.core {
    .page-title-like-templates {
      margin: 2em 0 0.3em;
    }
  }
</style>
