---
const hideTitle = Astro.locals.starlightRoute.entry.data.hideTitle ?? false;
const title = Astro.locals.starlightRoute.entry.data.title;
---

{
  hideTitle ? (
    <style>
      .content-panel {
        padding-top: 0 !important;
        border-top: none !important;
      }
      .sl-container {
        padding-top: 0 !important;
      }
      .sl-container::after {
        border-bottom: none !important;
      }
    </style>
  ) : (
    <style>
      .content-panel {
        padding-top: 0 !important;
        border-top: none !important;
      }
      .sl-container {
        padding-top: 0 !important;
      }
      .sl-container::after {
        border-bottom: none !important;
      }
    </style>
    <h1 id="_top" class="page-title-like-templates">{title}</h1>
  )
}

<style>
  @layer starlight.core {
    .page-title-like-templates {
      margin: 2em 0 0.6em;
      text-align: left;
      font-size: 2em !important;
      line-height: 1.2 !important;
      font-weight: 700 !important;
      color: var(--sl-color-white);
    }

    @media screen and (max-width: 500px) {
      .page-title-like-templates {
        font-size: 1.45rem !important;
      }
    }
  }
</style>
